<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('编辑奖励和惩罚')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>

<script>
    $(function(){
        var data4Vue = {
            uri: 'rewardPunishs',
            listURL:'admin_rewardpunish_list',
            bean: '',
            user:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                        vue.user = vue.bean.user;
                        // console.log(JSON.stringify(vue.bean));
                    })
                },
                update:function () {
                    // if(!checkEmpty(this.bean.name, "用户名称"))
                    //     return;
                    var url = this.uri;
                    axios.put(url,vue.bean).then(function(response){
                        location.href=vue.listURL+"?userId="+vue.user.id;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="/admin_basicsalary_list">所有奖励和惩罚</a></li>
        <li class="active">编辑奖励和惩罚</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑奖励和惩罚</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>员工</td>
                    <td><input  @keyup.enter="update"  v-model.trim="bean.user.name" type="text" class="form-control" disabled></td>
                </tr>
                <tr>
                    <td>奖惩类型</td>
                    <td>
<!--                        <input  @keyup.enter="update"  v-model.trim="bean.type" type="text" class="form-control">-->
                        <select v-model="bean.type" name="sex">
                            <option @keyup.enter="add"  value="0">市场部销售提成</option>
                            <option @keyup.enter="add"  value="1">节日福利奖金</option>
                            <option @keyup.enter="add"  value="2">年终奖金</option>
                            <option @keyup.enter="add"  value="3">迟到</option>
                            <option @keyup.enter="add"  value="4">旷工</option>
                            <option @keyup.enter="add"  value="5">周末加班</option>
                            <option @keyup.enter="add"  value="6">节日加班</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>描述奖惩类型的具体内容</td>
                    <td><input  @keyup.enter="update"  v-model.trim="bean.remark" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>奖惩金额</td>
                    <td><input  @keyup.enter="update"  v-model.trim="bean.money" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td>保存奖惩所属年月</td>
                    <td><input  @keyup.enter="update"  v-model.trim="bean.yearMonth" type="text" class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>

