
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('薪资基本参数管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var userId = getUrlParms("userId");
        var data4Vue = {
            uri:'basicSalaries',
            beans: [],
            bean: {id:0,basicSalary:0,user:{id:0}},
            pagination:{},
            user:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.getUser(userId);
                this.list(0);
            },
            methods: {
                getUser:function(userId){
                    var url = "users/"+userId;
                    axios.get(url).then(function(response) {
                        vue.user = response.data;
                    })
                },
                list:function(start){
                    var url =  "users/"+userId+"/"+this.uri+"?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content	;
                    });
                },
                add: function () {
                    if(!checkEmpty(this.bean.basicSalary, "基本工资"))
                        return;
                    var url = this.uri;
                    this.bean.user.id = userId;
                    axios.post(url,this.bean).then(function(response){
                        vue.list(0);
                        vue.bean = {id:0,basicSalary:0,user:{id:0}};
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length)
                            alert(response.data);
                        else
                            vue.list(0);
                    });
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }

        });
    });

</script>

<div id="workingArea" >
    <ol class="breadcrumb">
        <li><a href="admin_user_list">所有薪资基本参数</a></li>
        <li><a :href="'admin_basicsalary_list?userId='+user.id">{{user.name}}</a></li>
        <li class="active">薪资基本参数管理</li>
    </ol>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>基本工资</th>
                <th>迟到扣薪标准</th>
                <th>旷工扣薪标准</th>
                <th>周末加班薪资标准</th>
                <th>节日加班薪资标准</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    {{bean.basicSalary}}
                </td>
                <td>
                    {{bean.laterDeductMoney}}
                </td>
                <td>
                    {{bean.absenceDeductMoney}}
                </td>
                <td>
                    {{bean.weekendOverWorkMoney}}
                </td>
                <td>
                    {{bean.holidayOverWorkMoney}}
                </td>
                <td>
                    <a :href="'admin_basicsalary_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="include/admin/adminPage::html" ></div>

    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增薪资基本参数</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>基本工资</td>
                    <td><input  @keyup.enter="add"  v-model.trim="bean.basicSalary" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td>迟到扣薪标准</td>
                    <td><input  @keyup.enter="add"  v-model.trim="bean.laterDeductMoney" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td>旷工扣薪标准</td>
                    <td><input  @keyup.enter="add"  v-model.trim="bean.absenceDeductMoney" type="number" class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>

