
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('薪资基本参数管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>

<script>
    $(function(){
        var data4Vue = {
            uri:'salaries',
            beans: [],
            bean: {id:0,user:{id:0}},
            pagination:{},
            user:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list:function(start){
                    var url =  this.uri+ "?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                    });
                },
                add: function () {
                    // if(!checkEmpty(this.bean.name, "用户名称"))
                    //     return;

                    //输出新增时输入的数据
                    console.log(JSON.stringify(this.bean));

                    var url = this.uri;
                    // this.bean.user.id = userId;
                    axios.post(url,this.bean).then(function(response){
                        //回到初始状态
                        vue.list(0);
                        vue.bean = {id:0,user:{id:0}};
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length){
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },
                getFile: function (event) {
                    this.file = event.target.files[0];
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>
<div id="workingArea" >
    <h1 class="label label-info" >工资管理</h1>
    <br>
    <br>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>员工</th>
                <th>所属部门</th>
                <th>工资共计</th>
                <th>工资统计年月</th>
<!--                <th>编辑</th>-->
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>
                    {{bean.id}}
                </td>
                <td>
                    {{bean.user.name}}
                </td>
                <td>
                    {{bean.user.department.name}}
                </td>
                <td>
                    {{bean.totalSalary}}
                </td>
                <td>
                    {{bean.yearMonth}}
                </td>
<!--                <td>-->
<!--                    <a :href="'admin_salary_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>-->
<!--                </td>-->
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="include/admin/adminPage::html" ></div>

<!--    <div class="panel panel-warning addDiv">-->
<!--        <div class="panel-heading">新增工资</div>-->
<!--        <div class="panel-body">-->
<!--            <table class="addTable">-->
<!--                <tr>-->
<!--                    <td>员工ID</td>-->
<!--                    <td><input  @keyup.enter="add"  v-model.trim="bean.user.id" type="text" class="form-control"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>基本工资</td>-->
<!--                    <td><input  @keyup.enter="add"  v-model.trim="bean.basicSalary" type="number" class="form-control"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>迟到扣薪标准</td>-->
<!--                    <td><input  @keyup.enter="add"  v-model.trim="bean.laterDeductMoney" type="number" class="form-control"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>旷工扣薪标准</td>-->
<!--                    <td><input  @keyup.enter="add"  v-model.trim="bean.absenceDeductMoney" type="number" class="form-control"></td>-->
<!--                </tr>-->
<!--                <tr class="submitTR">-->
<!--                    <td colspan="2" align="center">-->
<!--                        <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->

</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>

